<header>
  <mat-toolbar class="bg-slate-800 shadow-slate-950 shadow-2xl flex flex-row justify-between">
    <nav class="flex">
      <a routerLink="/" class="px-3">Home</a>
      <a routerLink="/whiteListRequest" class="px-3">White List</a>
      <a routerLink="/mint" class="px-3">Mint NFT</a>
      <a routerLink="/game-ready" class="px-3">Game ready</a>
    </nav>
    <a routerLink="/auth">
      <div class="rounded-lg border-cyan-400 border flex flex-row py-2 px-3 hover:bg-slate-700 transition">
        <span>Login</span>
        <div class="pl-3 w-11 flex items-center justify-center">
          <img  src="../../../../assets/images/metamask-logo.svg" alt="MetaMask Logo">
        </div>
      </div>
    </a>
  </mat-toolbar>
</header>
  